<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="OnCerrarMenu()">
    <mat-icon>home</mat-icon>
    <span class="navegacion-list-label">Inicio</span>
  </a>
  <a mat-list-item routerLink="/registrar" (click)="OnCerrarMenu()">
    <mat-icon>how_to_reg</mat-icon>
    <span class="navegacion-list-label">Registrar</span>
  </a>
  <a mat-list-item routerLink="/login"(click)="OnCerrarMenu()">
    <mat-icon>login</mat-icon>
    <span class="navegacion-list-label">Ingresar</span>
  </a>

</mat-nav-list>